@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2)
      format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ColfaxAI";
  src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
  font-weight: bold;
  font-style: normal;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline;
}

.navbar ul li a {
  text-decoration: none;
  margin-right: 10px;
  color: #333;
  font-weight: bold;
}

.navbar ul li a:hover {
  color: #10a37f;
}


body,
input {
  font-size: 16px;
  line-height: 24px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
.icon {
  width: 34px;
}
h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: bold;
  color: #202123;
  margin: 16px 0 40px;
}
form {
  display: flex;
  flex-direction: column;
  width: 800px;
}

input[type=text] {

  border: 1px solid #10a37f;
  border-radius: 8px;
  margin-bottom: 24px;
  padding: 12px 16px;
  text-align: center; /* Center the input text */
  width: auto;

}

select {
  padding: 12px 16px;
  border: 1px solid #10a37f;
  border-radius: 4px;
  margin-bottom: 24px;
  color: #8e8ea0; /* Set the text color */
  opacity: 1;
  width: 50%;
  margin-left: auto; /* Center the box horizontally */
  margin-right: auto;
  text-align: center; /* Center the input text */
}

::placeholder {
  color: #8e8ea0;
  opacity: 1;
}


input[type="range"] {
    width: 50%;
    height: 5px;
    background-color: #ccc;
    outline: none;
    border-radius: 5px;
    margin-left: auto; /* Center the box horizontally */
    margin-right: auto;
    text-align: center; /* Center the input text */
}

.slider-label {
    display: block;
    text-align: center;
    font-size: 16px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
}

.slider-value-label {
  display: block;
  text-align: center;
  font-size: 16px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

/* input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 50%;
} */

/* input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    cursor: pointer;
    border-radius: 50%;
} */

input[type="submit"] {
  padding: 12px 0;
  color: #fff;
  background-color: #10a37f;
  border: none;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  width: 50%;
  margin-left: auto; /* Center the box horizontally */
  margin-right: auto;
}



.result-box {
  border: 1px solid #10a37f;
  padding: 24px 64px;
  border-radius: 8px;
  margin-bottom: 48px;
  width: 50%; /* Set the width to 50% */
  margin-left: auto; /* Center the box horizontally */
  margin-right: auto; /* Center the box horizontally */

}

.result {
  font-size: 16px;
  color: #353740;
  font-family: "ColfaxAI", Helvetica, sans-serif;
}

.result-box button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #10a37f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.clear-button button {
  display: inline-block;
  padding: 8px 8px;
  background-color: #24499f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.result-box button:hover {
  background-color: #0c7f60;
}






